<h1>Show all Sneakers Page</h1>
<div class="links">
    <nav>
        <a href="/sneakers/create" class="add">Add a Sneaker</a>
    </nav>
</div>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id</td>
            <td>title</td>
            <td>actions</td>
        </tr>
    </tbody>
</table>